.navbar-brand img{
	width: 70px;
	display: inline-block;
}
.navbar{
	color:#1a1a1a;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}
.nav-item a{
	color:#1a1a1a;
	margin-left:10px;
}
.nav-item a:hover{
	color:#1a1a1a;
	text-shadow: -2px 1px #eaeaea;
}
.navbar-toggler i{
	font-size: 30px;
}
header{
	height: 100vh;
	background-image: url(fondo.webp);
	background-position: center;
	background-size: cover;
	flex-direction: column;

}
.capa{
	width: 100%;
	height: 100%;
	flex-direction: column;
	background-color: rgba(0,0,0,0.5);
}
header buttom a{
	text-decoration: none;
	color:#fff;
}
header buttom a:hover{
	text-decoration: none;
	color:#fff;
}
.caja-servicios{
	position: relative;
	overflow: hidden;
}
.caja-servicios .detalles-servicio{
	position: absolute;
	bottom:10px;
	z-index: 2;

}
.imagen-servicio{
	overflow: hidden;
}
.imagen-servicio img{
	width: 100%;
	transition: 1s ease;
}
.caja-servicios:hover img{
	
	transform: scale(1.2);

}
.about p{
	width: 70%;
	font-size:18px;
	line-height: 25px;
}
.redes{
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}
.redes li{
	list-style: none;
	display: inline-block;
	margin-right:  10px;
}
.redes li i{
	font-size: 25px;
	color:#ffffff;
}
.caja-persona{
	position: relative;
	margin:0 auto;
}
.detalles-persona{
	position: absolute;
	bottom: 15px;
	margin-left: 10px;
}
.detalles-persona p{
	width: 100%;
	left:0;
}
.imagen-persona{
	height: 400px;
	overflow: hidden;
	margin-bottom: 10px;
}
.imagen-persona img{
	width: 100%;
}
.pricings p{
	width: 70%;
	font-size:18px;
	line-height: 25px;
}
.caja-precios{
	border:2px solid #1a1a1a;
	margin-bottom: 10px;

}
.caja-precios .precio{
	font-size: 45px;
	line-height: 35px;
	font-weight: bold;
}
.contenido-caja-precios {
	width: 100%;
}
.contenido-caja-precios .btn{
	border: 3px solid #ffffff;
	border-radius: 0px;
}
.carousel-item{
	height: 300px;
	color:#1a1a1a;
}
.puntuacion ul{
	list-style: none;
	display: inline-block;
	color:gold;
}
.puntuacion ul li{
	list-style: none;
	display: inline-block;
	color:gold;
}
.puntuacion ul li i{
	color:gold;
}

.testimonio-persona{
	width:500px;
	margin:0 auto;
	text-align: center;
}
.carousel-item .testimonio-persona .testimonio-imagen{
	width: 100%;
	overflow: hidden;
}
.carousel-item .testimonio-persona .testimonio-imagen img{
	width: 30%;
    border-radius: 50px;
    text-align: right;
}
.carousel-item .testimonio-persona .testimonio-info{
	text-align: left;
}
.contenedor-testimonios{
	border-radius: 20px;
}
.carousel-item p{
	color:#ffffff;
}
footer{
	height: 150px;
}
footer .footer-logo{
	height: 50px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.footer-logo img{
	width: 50px;
	color:#ffffff;
}
.footer-logo h4{
	display: inline-block;
}
.inicio{
	position: fixed;
	bottom: 50px;
	right: 25px;
	z-index:100;

}
.inicio a i{
	color:#000;
	font-size: 50px;
}
html{
    scroll-behavior: smooth;
}